@charset "UTF-8";
/* Todas as demais midias */
/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px
*/

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section.projeto-exponencial {
        width: 90vw;
    }

    section.projeto-exponencial > div.imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: center center;
    }

    section.projeto-exponencial > div.exponencial {
        float: right;
        width: 60%;
    }
}

/* Celular: de 600px até 768px */
@media screen and (max-width: 767px) {
    body {
        background: #0000cd;
    }

    section.projeto-exponencial {
        width: 300px;
        height: 500px;
    }

    section.projeto-exponencial > div.imagem {
        display: block;
        height: 120px;
        width: 100%;
        background-position: center center;
    }
    
    section.projeto-exponencial > div.exponencial {
        display: block;
        width: 100%;
    }

    div.exponencial > h1 {
        font-size: 1.5em;
    }

    div.campo input[type="text"] {
        width: 70%;
    }
}