* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* paleta de cores 
Cor - #00CCBF
Cor - #5f2c82
Cor - #0000cd */

p, h1, label, input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body, html {
    background-image: linear-gradient(to top, #00CCBF, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.projeto-exponencial {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 470px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
    transform: translate(-50%, -50%);
}

section.projeto-exponencial > div.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/informatica.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

section.projeto-exponencial > div.exponencial {
    float: left;
    width: 50%; 
}

div.exponencial {
    text-align: center;
}

div.exponencial > h1 {
    padding-top: 10px;
    font-size: 2em;
    color: rgb(255, 0, 0);
}

div.campo {
    text-align: center;
}

div.campo label {
    display: block;
    margin: 5px 0px;
	color: #024059;
	font-size: 1.05em;
}

div.campo input[type="text"] {
	width: 50%;
    margin-bottom: 5px;
    padding: 8px;
    border: 2px solid #191970;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.exponencial > button {
    margin: 20px;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.02em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

div.exponencial > button:hover {
    background-color: #03A64A;
}

div.res {
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
    line-height: 1.4em;
}
