* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #347355;
    font-family: sans-serif;
}

h2 {
    color: white;
    text-align: center;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
}