@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints 
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: Acima de 1200px
*/

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section.projeto-raiz {
        width: 90vw;
    }

    section.projeto-raiz > div.imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: center center;
    }

    section.projeto-raiz > div.raiz-quadrada {
        float: right;
        width: 70%;
    }
}

/* Celular: de 600px até 768px */
@media screen and (max-width: 767px) {
    body {
        background: #0000cd;
    }

    section.projeto-raiz {
        width: 300px;
        height: 500px;
    }

    section.projeto-raiz > div.imagem {
        display: block;
        height: 140px;
        width: 100%;
        background-position: center center;
    }
    
    section.projeto-raiz > div.raiz-quadrada {
        display: block;
        width: 100%;
        padding: 10px;
    }

    div.raiz-quadrada > h1 {
        font-size: 1.4em;
    }

    div.campo input[type="text"] {
        width: 70%;
    }
}