@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* paleta de cores 
Verde mar claro - #20b2aa
Azul médio - #0000cd */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, h1, label, input {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background-image: linear-gradient(to top, #20b2aa, #0000cd);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.raiz-q {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 950px;
    height: 450px;
    border-radius: 20px;
    box-sizing: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-50%, -50%);
}

section.raiz-q > div.imagem {
    display: block;
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/raiz-quadrada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section.raiz-q > div.formulario {
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
}

div.formulario > h1 {
    text-align: center;
    margin: 18px;
    color: #024059;
    font-size: 1.8em;
}

.campo {
    text-align: center;
}

.campo label {
    display: block;
    margin-bottom: 8px;
	color: #024059;
	font-size: 1.05em;
}

.campo input[type="text"] {
	width: 50%;
    padding: 8px;
    border: 2px solid #191970;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.formulario > button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div.formulario button:hover{
    background-color: #03A64A;
}

section.raiz-q > div.res {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
}