@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* paleta de cores 
Verde mar claro - #20b2aa
Azul médio - #0000cd */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, h1, label, input {
    font-family: "Nunito", serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    background-image: linear-gradient(to top, #20b2aa, #0000cd);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.projeto-raiz {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 450px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
    transform: translate(-50%, -50%);
}

section.projeto-raiz > div.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/raiz-quadrada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

section.projeto-raiz > div.raiz-quadrada {
    float: left;
    width: 50%; 
}

div.raiz-quadrada {
    text-align: center;
}

div.raiz-quadrada > h1 {
    padding: 18px;
    color: #024059;
    font-size: 1.8em;
}

div.campo {
    text-align: center;
}

div.campo label {
    display: block;
    margin-bottom: 8px;
	color: #024059;
	font-size: 1.05em;
}

div.campo input[type="text"] {
	width: 50%;
    padding: 8px;
    border: 2px solid #191970;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.raiz-quadrada > button {
    margin: 20px;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.02em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

div.raiz-quadrada > button:hover {
    background-color: #03A64A;
}

section.projeto-raiz > div.res {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
}
