@charset "UTF-8";

/* paleta de cores 
Cor - Azul médio #0000cd
Cor Claro - #00E3CC
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, h1, label, input, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body, html {
    background-image: linear-gradient(to top, #00E3CC, #0000cd);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.aluno {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 950px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.308);
    transform: translate(-50%, -50%);
}

section.aluno > div.imagem {
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../imagens/aula.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

section.aluno > div.formulario {
    float: left;
    width: 50%;
}

div.formulario {
    text-align: center;
}

div.formulario > h1 {
    padding-top: 20px;
    font-size: 2em;
    color: rgb(255, 0, 0);
}

div.campo {
    display: block;
    margin: 12px 0px;
	color: #024059;
	font-size: 1.05em;
}

div.campo label {
    display: block;
    margin: 5px;
	color: #024059;
	font-size: 1.1em;
}

.campo input[type="text"] {
	width: 55%;
    margin-bottom: 5px;
    padding: 8px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.formulario > button {
    margin: 10px;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div.formulario > button:hover{
    background-color: #03A64A;
}

div.res {
    text-align: center;
    font-size: 1.32em;
    padding: 5px;
}