@charset "UTF-8";

/* paleta de cores 
Cor - Azul médio #0000cd
Cor Claro - #00E3CC
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p, h1, label, input, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body, html {
    background: #0000cd;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section.aluno {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: white;
    width: 300px;
    height: 530px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-50%, -50%);
}

section.aluno > div.imagem {
    display: block;
    background-image: url(../imagens/aula.png);
    height: 160px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.aluno > div.formulario {
    display: block;
    padding: 10px;
}

div.formulario > h1 {
    display: none;
}

div.campo {
    text-align: center;
}

div.campo label {
    display: block;
    margin-bottom: 6px;
    margin-top: 15px;
	color: #024059;
	font-size: 1.1em;
}

.campo input[type="text"] {
	width: 70%;
    padding: 8px;
    border: 2px solid #127369;
    border-radius: 8px;
} 

.campo input:focus-within {
    background-color: rgb(235, 235, 235);
    outline: none;
}

div.formulario > button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 40px;
    background-color: #D92525;
    color: white;
    font-size: 1.04em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

div.formulario button:hover{
    background-color: #03A64A;
}

div.res {
    text-align: center;
    font-size: 1.32em;
    padding: 5px;
}